{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "semi": true,
  "endOfLine": "lf",
  "printWidth": 100,
  "trailingComma": "all",
  "importOrder": ["^(?!@/)(\\w|@)", "^@/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["**/*.json"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
